---
import '../styles/style.css';
import '../styles/ejercicios.css';
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="ejercicios.css">
    </head>
    <body>

        <header>

            <div class="main">
                <h3 class="estudis">DAW1 - M9 - UF2</h3>
                <h3 class="escola">JDA</h3>
            </div>

        </header>

        <div class="bottons">
            <h3 class="home"> <a href="index.html"> Home </a> </h3>
            <h3 class="projecto"> <a href="projecto.html"> Projecto </a> </h3>
        </div>

        <h1>EJERCICIOS</h1>

        <br><br>

        <div class="numero_ejercicios">
            <h3 class="a1"> <a href="a1.html"> Actividad 1 </a> </h3>
            <h3 class="a2"> <a href="a2.html"> Actividad 2 </a> </h3>
            <h3 class="a3"> <a href="a3.html"> Actividad 3 </a> </h3>
            <h3 class="a4"> <a href="a4.html"> Actividad 4 </a> </h3>
            <h3 class="a5"> <a href="a5.html"> Actividad 5 </a> </h3>
        </div>

        <footer>
            <h3 class="text_footer">ABEL ALBALADEJO</h3>
        </footer>

    </body>
</html>