---
// Style Imports
import '../styles/style.css';
// Component Imports
import Header from '../components/Header.astro';
// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Home page';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Header>

        <div class="sobre_mi">
            <h1>ABOUT MY</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae fugit officiis eaque, at repellendus blanditiis, ex optio ipsum laboriosam quibusdam voluptas doloremque dolor saepe eos! Ullam nihil vel quia odio. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis atque et nihil, impedit pariatur distinctio doloremque excepturi quaerat facere, ullam consequatur. Enim, dolorem? Vel reprehenderit unde explicabo voluptatem amet exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi praesentium debitis vero repellat beatae maxime eveniet, voluptate atque totam est suscipit saepe. Ducimus, sed molestiae! Voluptatem ex eligendi facilis facere? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, esse mollitia sapiente nisi fugiat officiis in molestiae praesentium! Cum dicta in temporibus sequi, velit culpa sunt unde ullam hic. Unde.</p>
        </div>

        <footer>
            <h3 class="text_footer">ABEL ALBALADEJO</h3>
        </footer>

</Header>