---
import { Markdown } from 'astro/components';
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home page</title>
    </head>
    <body>
        <header>

            <div class="main">
                <h3 class="estudis">DAW1 - M9 - UF2</h3>
                <h3 class="escola">JDA</h3>
            </div>

        </header>

        <samp></samp>

        <div class="bottons">
            <h3 class="ejercicios"> <a href="ejercicios.html"> Ejercicios </a> </h3>
            <h3 class="projecto"> <a href="projecto.html"> Projecto </a> </h3>
        </div>
    </body>
</html>